<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FotocopiadoraFacultad.Properties.Settings.Control_de_Pedidos_Fotocopiadora_UTNConnectionString"
            connectionString="Data Source=.;Initial Catalog=&quot;Control de Pedidos Fotocopiadora UTN&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
